ul{
    
    color:#EC4067;
    display: inline;

}

div.nav {
    display: inline;
    flex-direction: column;
    align-items: center;
    background-color: white;
    background-clip: content-box;
    p

  }
  img{
      height: 150px;
      width: 200px;
  }
  .mentors{
      display:table;

  }
  button{
     
      background-color:#EC4067;
      color:white;
      border-radius: 5px;
      padding: 5px;
      border-bottom: 5px;
      font-size: small;

  }
  body{
      padding:6px;
      font-style:numito;
      margin: 20px;

  }
  .container{
      float:left;
      padding: 5px;
      background-color: aliceblue;
      width: 200px;


  }
  .container p {
      font-size:small;
      display:block;
      padding-top: 20px;
      height:100px;

  }
  .container button {
      font-size: x-small;
  }
 .container h5{
     color:#EC4067

 }
 .column-one {
     
    
     background-color:rgb(112, 112, 106);


 }
 .column-one img {
     width:250px;
     height: 250px;
 }
 .about p {
     width:50%;
 }
 .about img {
     width:400px;
     height: 300px;

 }
 .column {
width:50%;
]
 
 .column-two {
     width:100px;
     margin-bottom: 20px;
 }
 .column-two p {
     width:300px;
 }
 .board-one {
     width:50%;
 }

.about-moringa {
    margin-bottom: 10px;
    background-color: antiquewhite;
}
.about-moringa img {
    width: 250px;
    height: 250px;
}
.grad img {
    width:50%;
    margin-right: 100px;
}